.header-navbar {
  width: 80vw;
  height: 80px;
  background: #f7f8fa;
  display: flex;
}
.search-navbar {
  border: none;
  border-right: 1px solid #000;
  background: #f7f8fa;
  height: 80px;
  width: 60vw;
  padding-left: 45px;
  font-size: 20px;
}
.search-navbar::placeholder {
  color: #1d262d;
}
.user-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
}
.user-navbar img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.user-navbar p {
  padding-top: 2%;
}
.info-navbar {
  position: absolute;
  background: #fff;
  top: 8%;
  left: 92%;
  border: 1px solid #1d262d;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
